@charset "UTF-8";
body {
	background: #000 url(images/bgNovo.jpg) repeat-x ;
}
img{
	border:none;
}
#tudo {
	width: 1024px;
	margin:auto;
}
#linktv {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFFFFF;
	text-decoration: none;
	clip: rect(auto,auto,auto,auto);
}
.style1 {font-size: 16px}
.style2 {color: #ce3132}
#top {
	width:926px;
	margin:0px auto 0;
}
#top #banner{
	float:right;
	margin:23px 0 0 0;
}
#menu {
}
#carrocel {
}
#videos {
}

/* Federaciones */

#federaciones {

}

#federaciones div {
	display:inline-block;
	width: 184px;
	height: 114px;
	background-image: url(images/federaciones.png);

}

#federaciones #fed_coch {
	background-position: 1px 114px;
}

#federaciones #fed_coch:hover {
	background-position: 1px 0px;
}	


#federaciones #fed_ado {
	background-position: -183px 114px;
}

#federaciones #fed_ado:hover {
	background-position: -183px 0px;
}



#federaciones #fed_basket {
	background-position: -368px 114px;
}

#federaciones #fed_basket:hover {
	background-position: -368px 0px;
}

/*#federaciones #fed_handball {
	background-position: -343px 114px;
}*/

/*#federaciones #fed_handball:hover {
	background-position: -343px 0px;
}*/


#federaciones #fed_voley {
	background-position: -554px 114px;
}

#federaciones #fed_voley:hover {
	background-position: -554px 0px;
}

#federaciones #fed_rugby {
	background-position: -740px 114px;
}

#federaciones #fed_rugby:hover {
	background-position: -740px 0px;
}

/*#federaciones #fed_hokey {
	background-position: -577px 114px;
}*/

/*#federaciones #fed_hokey:hover {
	background-position: -577px 0px;
}


/*#federaciones #fed_liga {
	background-position: -810px 114px;
}/*

/*#federaciones #fed_liga:hover {
	background-position: -810px 0px;
}/*

/* Federaciones */

#conteudo {
}
#footer {
	background-image: url(images/bgfooter.png);
	background-repeat: repeat-x;
	height: 215px;
}
#footer .content{
	width: 925px;
	height:215px;
	margin:25px auto 0 auto;
	color:#e0e0e0;
	font:14px arial;
	position:relative;
	top: -10px;
}
#footer .content a{
	color:#e0e0e0;
	text-decoration:none;
	position:relative;
}
#footer .content h5{
	font:16px arial;
	color:#ce3132;
	margin:0;
	font-weight:bold;
}
#footer .content ul{
	list-style:none;
	padding:0;
	margin:0;
}
#footer .content ul li{
	background: url(images/bullet.png) center left no-repeat;
	padding:0 0 0 10px;
}
#footer .content ul li a{
}
#footer .content ul li a:hover{
	color:#ce3132;
}
#footer .content .fNav{
	float:left;
	padding:35px 45px 0 12px;
	line-height:20px;
}
#footer .content .cdo{
	float:right;
	padding:20px 0 0 0;
	text-align:right;
}
#footer .content .cdo p{
	margin:22px 0 0 0;
}

#footer .content .cdo .powered{
	font: 10px arial;
    margin: 30px auto 0;
}
#footer .content .powered img{
	margin:3px 0 0 0;
	border:none;
}
#footer .content p.copyright{
	color:#bbb;
	font-size:10px;
	text-transform:uppercase;
	text-align:left;
	position:absolute;
	top:190px;
	margin:0;
	left:0;
	
}
#contacto{
	background-image: url(images/bgContacto.gif);
	width:926px;
	height:647px;
	margin:18px auto 0;

}
#contacto .menu{
	float:left;
	width:231px;
}
#contacto .form{
	padding-left:30px;
	float:left;
	width:560px;
	color:#e0e0e0;
}
#contacto .form label{
	display:block;
	padding:14px 0 4px 0;
	font:14px arial;
	color:#ce3132
}

#contacto .form input,
#contacto .form textarea{
	line-height:35px;
	color:#e0e0e0;
	font:14px arial;
	border:none;
	width:400px;
	padding:0 5px;
	height:30px;
	background-color:#363636;
}
#contacto .form input.cod{
	width:56px;
	margin-right:4px;
}
#contacto .form input.telefono{
	width:326px;
}
#contacto .form textarea{
	height:145px;
}
#contacto .form div.legend{
	float:left;
	font:10px arial;
	color:#5c5c5c;
}
#contacto .form button{
	background:none;
	border:none;
	padding:0;
	cursor:pointer;
}
#contacto .form .button{
	margin-top:20px;
	text-align:right;
	width:164px;
}

/* PROGRAMACION */
.programacion{
    float:left;width:100%;padding:20px 0;
}

.dia_actual{
    background:url("images/background_window_headline.png") repeat scroll left top transparent;
    color: #CE3132;
    float: left;
    font-size: 24px;
    height: 19px;
    margin: 0;
    padding: 20px 10px;
    width: 153px;
}

.box_grade_programacion{
    height:65px;
	float:left
}

.box_programacion .bt_anterior{
    margin: 0 1px 0 0;
}
.box_programacion .bt_proxima,
.box_programacion .bt_anterior{
    float:left;
}
.box_programacion .bt_proxima a,
.box_programacion .bt_anterior a{
    text-indent:-9000px;
    display:block;
    width:31px;
    height:61px; 
    background-image:url("images/sprite.png");
	background-position:0 0;
}

.box_programacion .bt_proxima a{
   background-position:0 -63px;
}

.box_grade_programacion ul{
    float:left;
    margin:0;
    padding:0;
}

.box_grade_programacion ul li{
    width:228px;
	margin-right:2px;
	height:62px;
	overflow:hidden;
    float:left;
    list-style: none;
}

.box_grade_programacion ul li.central{
}

.box_grade_programacion ul li h3{
    margin:0;
    padding:0;
    height:23px;
    background-color:#1a1a1a;
    font-size:14px;
    padding:5px 80px;
}
.box_grade_programacion ul li span{
    background-color: #575757;
    float: left;
    font-size: 10px;
    margin: 0 0 0 1px;
    width: 48px;
    padding: 4px 4px;
    height: 12px;
}
.box_grade_programacion ul li span.last{
}
.box_grade_programacion ul li span,
.box_grade_programacion ul li h3{
    color: #fff;
}
.box_grade_programacion ul li div.box_hora_central h3{
    background-color:#252525;
}
.box_grade_programacion ul li div.box_hora_esq,
.box_grade_programacion ul li div.box_hora_central,
.box_grade_programacion ul li div.box_hora_dir{
}

.box_grade_programacion ul li.central span.bottom{
}
.box_grade_programacion ul li span.bottom{
    background-color:#b03233;
    float:left;
    width: 219px;
}
.box_grade_programacion ul li span.bottom{
    background:url("images/sprite.png") repeat scroll left -401px transparent;
}
.box_programacion_detalhe{
    clear:both    
}
.box_programacion_detalhe table{
    color: #FFF;
    border-collapse:collapse;
}
.box_programacion_detalhe table tr{
    float: left;
    margin: 0 0 1px 0;
    width: 100%;;
}
.box_programacion_detalhe table tr,
.box_programacion_detalhe table td{
    height:146px;
}
.box_programacion_detalhe table td{
    background-color:#323232;
    margin:0 1px 0 0;
    float:left;
}

.box_type_programacion{
	width:173px;
	float:left
}

.box_type_programacion .logoProgramacion{
    width:173px;    
    margin:0;
	clear:both
}
.box_type_programacion .logoProgramacion .logo{
   height: 146px;
}

.box_type_programacion .logo_cdo_radio a,
.box_type_programacion .logo_cdo_premium a,
.box_type_programacion .logo_cdo a,
.box_type_programacion .logo_cdo_radio,
.box_type_programacion .logo_cdo_premium,
.box_type_programacion .logo_cdo{
    background:url("images/sprite.png") repeat scroll left -136px transparent;
    width:156px;
    height:70px;
    text-indent:-9000px;
    float:left;
}

.box_programacion{
	float: left;
    width: 753px;
}

.box_programacion_detalhe tr td{
    overflow:hidden;
    font-size:10px;
    padding:0;
}

.box_programacion_detalhe span, .logoProgramacion span{
    position: relative;
    left:10%;
    top: 50%;
}
.box_programacion_detalhe .prog_1{
    width:56px;
}
.box_programacion_detalhe .prog_2{
    width:112px;
}
.box_programacion_detalhe .prog_3{
    width:168px;
}
.box_programacion_detalhe .prog_4{
    width:224px;
}
.box_programacion_detalhe .prog_5{
    width:280px;
}

.box_programacion_galery{
	width:690px;
	overflow:hidden;
	float:left
}

.box_programacion_mask{
	position:relative;
	width:10000px;
	left:0
}
/* \PROGRAMACION */
