@charset "UTF-8";
*{outline: none !important;}
body {
    background: #000 url(images/bgNovo.jpg) repeat-x ;
    font-family: Arial;
    margin:0;
}
img{
    border:none;
}

.clearBoth{
    clear: both;
}

#footer .content_footer,
#container{
    width: 925px;
    margin: 0 auto;
    display:table;
    clear: both;
}
.content,
#menu,
#header{
    float:left;width:100%;
}
#header{
    margin:21px 0 0 0;
}
#menu{
}
h1.logo{
    background: url(images/logo.png) no-repeat 0 0;
    width:295px;
    height:135px;
    text-indent:-9000px;
    float:left;
    margin:0;
}
.banner{
    float:left;
    width:615px;
    overflow:hidden;
    height:115px;
    margin:15px 0 0 15px;
    text-align:right;
}
.banner img{
    width:615px;
    height:115px;
}

#tudo {
	width: 1024px;
	margin:auto;
}
#linktv {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFFFFF;
	text-decoration: none;
	clip: rect(auto,auto,auto,auto);
}
#top {
	width:926px;
	margin:0px auto 0;
}
#top #banner{
	float:right;
	margin:23px 0 0 0;
}
#top #banner img{
        width: 690px;
        height: 90px;
}

#carrocel {
}
#carousel_here{
        width: 930px;
        height: 400px;
}
#carousel_here .img{
        position: absolute;
        z-index: -10px;
        cursor: pointer;
}
#carousel_here .img img{
        width: 930px;
        height: 400px;
}
#carousel_here .window{
        background: url(images/background_window_headline.png) repeat top left transparent;
        float: left;
        padding: 10px 20px;
        margin: 50px 0 0 30px;
        z-index: 10px;
        position: absolute;
}
#carousel_here .clear{
        float: right;
        height: 290px;
        width: 10px;
}
#carousel_here .window h2,
#carousel_here .window h6{
        color: #FFFFFF;
        text-align: left;
}
#carousel_here .window h2{
        font-size: 24px;
        margin: 5px;
}
#carousel_here .window h6{
        font-size: 14px;
        font-weight: normal;
        margin: 10px;
}
#carousel_here .thumbs{
        width: 100%;
        height: 120px;
        vertical-align: bottom;
        margin: 0;
        padding: 0;
        float: left;
}
#carousel_here .thumbs li{
        list-style: none;
        float: left;
        margin-left: 25px;
        position: relative;
        width: 200px;
        height: 90px;
        background-color: #000000;
        cursor: pointer;
}
#carousel_here .thumbs .actual{
        background: url(images/hover_headline_thumb.png) repeat top left transparent;
        height: 10px;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        text-indent: -9999px;
}
#carousel_here .thumbs li img{
        width: 200px;
        height: 90px;
}

#videos_content {
        background-color: #252525;
        margin: 10px auto;
        padding: 10px;
        width: 902px;
        left: -461px;
        margin-left: 50%;
        position: relative;
}
#videos_content .internal {
        color:#FFFFFF;
        font-size: 14px;
}
#videos_content .internal .clearBoth {
        margin-top:50px;
}
#videos_content .internal .published {
        font-size:13px;
        background-color:#323232;
        padding:5px;
}
#videos_content .internal .published .date {
        color:#DC251D;
        display:block;
}
#videos_content .internal .title {
        font-size:32px;
        padding:0;
        margin:0;
        font-weight: normal;
}
#videos_content .internal .excerpt {
        font-size:13px;
        padding:0;
        margin:0;
}
#news .new_content{
        display: inline-block;
        width: 344px;
        height: 120px;
        background-color: #323232;
        padding: 30px;
        margin: 30px 5px 15px 30px;
        text-decoration: none;
        border: 0px;
}
#news .new_content span{
        display: inline-block;
        width: 100px;
        height: 120px;
        background: #3B3B3B;
        margin: 0 15px 10px 0;
        float: left;
}
#news .new_content span img{
        width: 100px;
        height: 120px;
}
#news .new_content h3{
        margin: 0;
        display: inline-block;
        color: #CE3132;
        width: 228px;
        float: right;
        font-weight: normal;
        font-size: 16px;
}
#news .new_content h6{
        margin: 0;
        display: inline-block;
        color: #FFFFFF;
        float: left;
        width: 228px;
        font-weight: normal;
        font-size: 14px;
}
#federaciones {
}
#conteudo {
}
#footer {
	background-image: url(images/bgfooter.png);
	background-repeat: repeat-x;
	height: 215px;
    clear:both;
}

#footer .content_footer{
	height:215px;
	color:#e0e0e0;
	font:14px arial;
}
#footer .content_footer a{
	color:#e0e0e0;
	text-decoration:none;
	position:relative;
}
#footer .content_footer h5{
	font:14px arial;
	color:#ce3132;
	margin:0;
	font-weight:bold;
}
#footer .content_footer ul{
	list-style:none;
	padding:0;
	margin:0;
}
#footer .content_footer ul li{
	background: url(images/bullet.png) center left no-repeat;
	padding:0 0 0 10px;
}
#footer .content_footer ul li a{
}
#footer .content_footer ul li a:hover {
	color:#ce3132;
}
#footer .content_footer .fNav{
	float:left;
	padding:35px 45px 0 12px;
	line-height:20px;
}
#footer .content_footer .cdo{
	float:right;
	padding:20px 0 0 0;
	text-align:right;
}
#footer .content_footer .cdo p{
	margin:22px 0 0 0;
}

#footer .content_footer .powered{
    font: 10px arial;
	color:#bbb;
	font-size:10px;
	text-transform:uppercase;
	text-align:right;
        width:100%;
        float:right;
}
#footer .content_footer .powered img{
	margin:3px 0 0 0;
	border:none;
}
#footer .content_footer .copyright{
	color:#bbb;
	font-size:10px;
	text-transform:uppercase;
	text-align:left;
        float:left;
}
#contacto{
	background-image: url(images/bgContacto.gif);
	width:926px;
	height:647px;
	margin:18px auto 0;

}
#contacto .menu{
	float:left;
	width:231px;
}
#contacto .form{
	padding-left:30px;
	float:left;
	width:560px;
	color:#e0e0e0;
}
#contacto .form label{
	display:block;
	padding:14px 0 4px 0;
	font:14px arial;
	color:#ce3132
}

#contacto .form input,
#contacto .form textarea{
	line-height:35px;
	color:#e0e0e0;
	font:14px arial;
	border:none;
	width:400px;
	padding:0 5px;
	height:30px;
	background-color:#363636;
}
#contacto .form input.cod{
	width:56px;
	margin-right:4px;
}
#contacto .form input.telefono{
	width:326px;
}
#contacto .form textarea{
	height:145px;
}
#contacto .form div.legend{
	float:left;
	font:10px arial;
	color:#5c5c5c;
}
#contacto .form button{
	background:none;
	border:none;
	padding:0;
	cursor:pointer;
}
#contacto .form .button{
	margin-top:20px;
	text-align:right;
	width:164px;
}

/*============ Menu ============*/

#menu {
    width: 926px;
    height: 35px;
    margin: 10px 0 15px 0;
}
.menu-border-left {
	background: url(images/menu-bar-left.png) 0 0 transparent no-repeat;
	height: 35px;
	width: 14px;
	float: left;
}

.menu-center {
	background: url("images/menu-bar-center.png") 0 0 transparent repeat-x;
	height: 35px;
	min-width: 898px;
	float: left;
}

.menu-border-right {
	background: url("images/menu-bar-right.png") 0 0 transparent no-repeat;
	height: 35px;
	width: 14px;
	float: left;
}

#menu-menu-header {
	margin: 0;
	padding: 0;	
}

/*
.menu-center ul li {
	display: inline-block;
	width: 190px;
	float: left;
	margin: 3px 0px 0px 25px;
}

.menu-center ul li.float-right a{
	float: right !important;
}

.menu-center ul li.float-left a{
	float: left !important;
}

.menu-center ul li.float-none a{
	float: none !important;
}

.menu-center ul li a {
	text-decoration: none;
	font-family: Verdana, arial;
	font-size: 20px;
	color: #ffffff;
	float: left;
}
*/
.menu-center ul {
	height: 35px;	
}

.menu-center ul li {
	display: inline-block;
	margin: 0 38px;
}

.menu-center ul li a {
	text-decoration: none;
	font-family: Verdana, arial;
	font-size: 20px;
	color: #ffffff;
}

.menu-center ul li a img{
	margin-top: 7px;
}

span.menu-button-decoration {
	background-image: url("images/menu-button-decoration.png") !important;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    height: 14px;
    margin: 9px 0 0 -23px;
    position: absolute;
    width: 11px;
}
/*==============================*/


/*============ Highlight ============*/

.highlight-list-home {
	height: 290px;
	width: 926px;
	margin: 0;
	padding: 0;
	margin: 20px 0 5px;
}

.list li,
.highlight-list-home li {
	display: block;
	margin: 0px 0px 0px 0px;
	background-repeat: repeat-x;
	height: 290px;
	width: 308px;
	float: left;
}

.list li img,
.highlight-list-home li img {
	margin-top: 10px;
        width:288px;
        height:177px;
}

.list li img.icone-video,
.highlight-list-home li img.icone-video {
    margin: 158px 0 0 -77px !important;
    position: absolute;
}

.list li h3,
.highlight-list-home li h3 {
    color: #FFFFFF;
    float: left;
    font-family: Arial;
    font-size: 16px;
    font-weight: lighter;
    margin: 8px 0px 0px 12px;
    text-align: left;
    width: 205px;
}

.list li h3,
.list li .more{
    color:#CE3132 !important;
}

.list li .more{
    float:left;
    margin-left:12px;
    padding-right:15px;
    text-decoration:none;
    font-size:14px;
    background: url(images/ver-mas-decoration.png) no-repeat transparent;
    background-position: right 3px;
}
.list li .more:hover {
    text-decoration:underline;
}

.list li p,
.highlight-list-home li p {
    color: #FFFFFF;
    float: left;
    font-family: Arial;
    font-size: 13px;
    font-weight: lighter;
    margin: 5px 0px 0px 12px;
    text-align: left;
    width: 282px;
    height: 40px;
}

.list li p{
    height:25px;
}

.textUnderline {
	text-decoration: underline;	
}

.highlight-list-item-off-home {
	background-image: url("images/backgound-highlight-off.png");
}

.highlight-list-item-on-home {
	background-image: url("images/backgound-highlight-on.png");
}

/*==================|| Federaciones ||====================*/

#federaciones {
	margin-top: 10px;	
}
.label-federaciones {
	margin: 10px 0px 0px 60px;
	position: absolute;
}

.panel-thumbnail-federaciones {
	background-image: url("images/background-federaciones.png");
	background-repeat: repeat-x;
	margin: 0;
	padding: 0 0 0 2px;
	height: 160px;
	width: 926px;
}

.panel-thumbnail-federaciones li {
	list-style: none;
	display: block;
	margin: 38px 0 0 0;
	height: 115px;
	width: 77px;
	padding: 0px;
	float: left;
}

.panel-thumbnail-federaciones li img{
	margin-top: 0px;
	width: 75px;
	height: 105px;
}
/* PROGRAMACION */
.programacion{
    float:left;width:100%;padding:20px 0;
}

.dia_actual{
    background:url("images/background_window_headline.png") repeat scroll left top transparent;
    color: #CE3132;
    float: left;
    font-size: 24px;
    height: 19px;
    margin: 0;
    padding: 20px 10px;
    width: 153px;
}

.box_grade_programacion{
    height:65px;
	float:left
}

.box_programacion .bt_anterior{
    margin: 0 1px 0 0;
}
.box_programacion .bt_proxima,
.box_programacion .bt_anterior{
    float:left;
}
.box_programacion .bt_proxima a,
.box_programacion .bt_anterior a{
    text-indent:-9000px;
    display:block;
    width:31px;
    height:61px; 
    background-image:url("images/sprite.png");
	background-position:0 0;
}

.box_programacion .bt_proxima a{
   background-position:0 -63px;
}

.box_grade_programacion ul{
    float:left;
    margin:0;
    padding:0;
}

.box_grade_programacion ul li{
    width:228px;
	margin-right:2px;
	height:62px;
	overflow:hidden;
    float:left;
    list-style: none;
}

.box_grade_programacion ul li.central{
}

.box_grade_programacion ul li h3{
    margin:0;
    padding:0;
    height:23px;
    background-color:#1a1a1a;
    font-size:14px;
    padding:5px 80px;
}
.box_grade_programacion ul li span{
    background-color: #575757;
    float: left;
    font-size: 10px;
    margin: 0 0 0 1px;
    width: 48px;
    padding: 4px 4px;
    height: 12px;
}
.box_grade_programacion ul li span.last{
}
.box_grade_programacion ul li span,
.box_grade_programacion ul li h3{
    color: #fff;
}
.box_grade_programacion ul li div.box_hora_central h3{
    background-color:#252525;
}
.box_grade_programacion ul li div.box_hora_esq,
.box_grade_programacion ul li div.box_hora_central,
.box_grade_programacion ul li div.box_hora_dir{
}

.box_grade_programacion ul li.central span.bottom{
}
.box_grade_programacion ul li span.bottom{
    background-color:#b03233;
    float:left;
    width: 219px;
}
.box_grade_programacion ul li span.bottom{
    background:url("images/sprite.png") repeat scroll left -401px transparent;
}
.box_programacion_detalhe{
    clear:both    
}
.box_programacion_detalhe table{
    color: #FFF;
    border-collapse:collapse;
}
.box_programacion_detalhe table tr{
    float: left;
    margin: 0 0 1px 0;
    width: 100%;;
}
.box_programacion_detalhe table tr,
.box_programacion_detalhe table td{
    height:146px;
}
.box_programacion_detalhe table td{
    background-color:#323232;
    margin:0 1px 0 0;
    float:left;
}

.box_type_programacion{
	width:173px;
	float:left
}

.box_type_programacion .logoProgramacion{
    width:173px;    
    margin:0;
	clear:both
}
.box_type_programacion .logoProgramacion .logo{
   height: 146px;
}

.box_type_programacion .logo_cdo_radio a,
.box_type_programacion .logo_cdo_premium a,
.box_type_programacion .logo_cdo a,
.box_type_programacion .logo_cdo_radio,
.box_type_programacion .logo_cdo_premium,
.box_type_programacion .logo_cdo{
    background:url("images/sprite.png") repeat scroll left -136px transparent;
    width:156px;
    height:70px;
    text-indent:-9000px;
    float:left;
}

.box_programacion{
	float: left;
    width: 753px;
}

.box_programacion_detalhe tr td{
    overflow:hidden;
    font-size:10px;
    padding:0;
}

.box_programacion_detalhe span, .logoProgramacion span{
    position: relative;
    left:10%;
    top: 50%;
}
.box_programacion_detalhe .prog_1{
    width:56px;
}
.box_programacion_detalhe .prog_2{
    width:112px;
}
.box_programacion_detalhe .prog_3{
    width:168px;
}
.box_programacion_detalhe .prog_4{
    width:224px;
}
.box_programacion_detalhe .prog_5{
    width:280px;
}

.box_programacion_galery{
	width:690px;
	overflow:hidden;
	float:left
}

.box_programacion_mask{
	position:relative;
	width:10000px;
	left:0
}
/* \PROGRAMACION */



/* NOTÍCIA */

#content-noticia{
	width:97%;
	background:#252525;
	padding:15px 1.5%;
	margin:15px 0 50px;
	color:#e0e0e0;
	font-size:13px;
	overflow:hidden
}

#content-noticia h2{
	font-size:30px;
	font-weight:normal;
	margin:0
}

#content-noticia .subtitle{
	font-weight:bold;
	margin:5px 0;
	font-size:12px;
}

#content-noticia .published{
	background:#323232;
	padding:5px 10px;
	margin:12px 0 20px
}
#content-noticia .published .date-published{
	color:#dc251d;
	font-size:11px;
	margin-bottom:2px
}
#content-noticia .image-noticia{
	float:left;
	margin:0 15px 10px 0
}
/* NOTÍCIA */