@charset "UTF-8";
*{outline: none !important;}
body {
	background: #000 url(images/bgNovo.jpg) repeat-x ;
}
img{
	border:none;
}
#tudo {
	width: 1024px;
	margin:auto;
}
#linktv {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFFFFF;
	text-decoration: none;
	clip: rect(auto,auto,auto,auto);
}
#top {
	width:926px;
	margin:0px auto 0;
}
#top #banner{
	float:right;
	margin:23px 0 0 0;
}

#carrocel {
}
#videos {
        background-color: #252525;
        margin: 10px auto;
        padding: 10px;
        width: 902px;
        left: -461px;
        margin-left: 50%;
        position: relative;
}
#news .new_content{
        display: inline-block;
        width: 344px;
        height: 120px;
        background-color: #323232;
        padding: 30px;
        margin: 30px 5px 15px 30px;
        text-decoration: none;
        border: 0px;
}
#news .new_content span{
        display: inline-block;
        width: 100px;
        height: 120px;
        background: #3B3B3B;
        margin: 0 15px 10px 0;
        float: left;
}
#news .new_content span img{
        width: 100px;
        height: 120px;
}
#news .new_content h3{
        margin: 0;
        display: inline-block;
        color: #CE3132;
        width: 228px;
        float: right;
}
#news .new_content h6{
        margin: 0;
        display: inline-block;
        color: #FFFFFF;
        float: left;
        width: 228px;
}
#federaciones {
}
#conteudo {
}
#footer {
	background-image: url(images/bgfooter.png);
	background-repeat: repeat-x;
	height: 215px;
}
#footer .content{
	width: 925px;
	height:215px;
	margin:25px auto 0 auto;
	color:#e0e0e0;
	font:14px arial;
	position:relative;
}
#footer .content a{
	color:#e0e0e0;
	text-decoration:none;
	position:relative;
}
#footer .content h5{
	font:14px arial;
	color:#ce3132;
	margin:0;
	font-weight:bold;
}
#footer .content ul{
	list-style:none;
	padding:0;
	margin:0;
}
#footer .content ul li{
	background: url(images/bullet.png) center left no-repeat;
	padding:0 0 0 10px;
}
#footer .content ul li a{
}
#footer .content ul li a:hover{
	color:#ce3132;
}
#footer .content .fNav{
	float:left;
	padding:35px 45px 0 12px;
	line-height:20px;
}
#footer .content .cdo{
	float:right;
	padding:20px 0 0 0;
	text-align:right;
}
#footer .content .cdo p{
	margin:22px 0 0 0;
}

#footer .content .powered{
        font: 10px arial;
	color:#bbb;
	font-size:10px;
	text-transform:uppercase;
	text-align:right;
	position:absolute;
	top:190px;
	margin:-10px 0 0 0;
	right:0;
}
#footer .content .powered img{
	margin:3px 0 0 0;
	border:none;
}
#footer .content p.copyright{
	color:#bbb;
	font-size:10px;
	text-transform:uppercase;
	text-align:left;
	position:absolute;
	top:190px;
	margin:0;
	left:0;
}
#contacto{
	background-image: url(images/bgContacto.gif);
	width:926px;
	height:647px;
	margin:18px auto 0;

}
#contacto .menu{
	float:left;
	width:231px;
}
#contacto .form{
	padding-left:30px;
	float:left;
	width:560px;
	color:#e0e0e0;
}
#contacto .form label{
	display:block;
	padding:14px 0 4px 0;
	font:14px arial;
	color:#ce3132
}

#contacto .form input,
#contacto .form textarea{
	line-height:35px;
	color:#e0e0e0;
	font:14px arial;
	border:none;
	width:400px;
	padding:0 5px;
	height:30px;
	background-color:#363636;
}
#contacto .form input.cod{
	width:56px;
	margin-right:4px;
}
#contacto .form input.telefono{
	width:326px;
}
#contacto .form textarea{
	height:145px;
}
#contacto .form div.legend{
	float:left;
	font:10px arial;
	color:#5c5c5c;
}
#contacto .form button{
	background:none;
	border:none;
	padding:0;
	cursor:pointer;
}
#contacto .form .button{
	margin-top:20px;
	text-align:right;
	width:164px;
}

/*============ Menu ============*/

#menu {
	width: 926px;
	height: 35px;
	margin: 20px 0px 5px 0px;
}
.menu-border-left {
	background: url(images/menu-bar-left.png) 0 0 transparent no-repeat;
	height: 35px;
	width: 14px;
	float: left;
}

.menu-center {
	background: url("images/menu-bar-center.png") 0 0 transparent repeat-x;
	height: 35px;
	min-width: 898px;
	float: left;
}

.menu-border-right {
	background: url("images/menu-bar-right.png") 0 0 transparent no-repeat;
	height: 35px;
	width: 14px;
	float: left;
}

#menu-menu-header {
	margin: 0;
	padding: 0;	
}

/*
.menu-center ul li {
	display: inline-block;
	width: 190px;
	float: left;
	margin: 3px 0px 0px 25px;
}

.menu-center ul li.float-right a{
	float: right !important;
}

.menu-center ul li.float-left a{
	float: left !important;
}

.menu-center ul li.float-none a{
	float: none !important;
}

.menu-center ul li a {
	text-decoration: none;
	font-family: Verdana, arial;
	font-size: 20px;
	color: #ffffff;
	float: left;
}
*/
.menu-center ul {
	height: 35px;	
}

.menu-center ul li {
	display: inline-block;
	margin: 0 50px 0 50px;
}

.menu-center ul li a {
	text-decoration: none;
	font-family: Verdana, arial;
	font-size: 20px;
	color: #ffffff;
}

.menu-center ul li a img {
	margin-top: 7px;
}

span.menu-button-decoration {
	background-image: url("images/menu-button-decoration.png") !important;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    height: 14px;
    margin: 9px 0 0 -23px;
    position: absolute;
    width: 11px;
}
/*==============================*/
