@charset "UTF-8";
body {
	background: #000 url(images/bg.png) repeat-x ;
}
#tudo {
	width: 1024px;
	margin:auto;
}
#linktv {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFFFFF;
	text-decoration: none;
	clip: rect(auto,auto,auto,auto);
}
#top {
	width:926px;
	margin:60px auto 10px;
}
#top #banner{
	float:right;
	margin:10px 0 0 0;
}
#menu {
}
#carrocel {
}
#videos {
}
#federaciones {
}
#conteudo {
}
#footer {
	background-image: url(images/bgfooter.png);
	background-repeat: repeat-x;
	height: 215px;
}
#footer .content{
	width: 925px;
	height:215px;
	margin:25px auto 0 auto;
	color:#e0e0e0;
	font:14px arial;
	position:relative;
}
#footer .content a{
	color:#e0e0e0;
	text-decoration:none;
	position:relative;
}
#footer .content h5{
	font:14px arial;
	color:#ce3132;
	margin:0;
}
#footer .content ul{
	list-style:none;
	padding:0;
	margin:0;
}
#footer .content .fNav{
	float:left;
	padding:35px 45px 0 12px;
	line-height:20px;
}
#footer .content .cdo{
	float:right;
	padding:20px 0 0 0;
	text-align:right;
}
#footer .content .cdo p{
	margin:22px 0 0 0;
}

#footer .content .cdo .powered{
	font: 10px arial;
    margin: 30px auto 0;
}
#footer .content .powered img{
	margin:3px 0 0 0;
	border:none;
}
#footer .content p.copyright{
	color:#bbb;
	font-size:10px;
	text-transform:uppercase;
	text-align:left;
	position:absolute;
	top:190px;
	margin:0;
	left:0;
	
}
#contacto{
	background-image: url(images/bgContacto.gif);
	width:926px;
	height:647px;
	margin:18px auto 0;

}
#contacto .menu{
	float:left;
}
#contacto .form{
	padding-left:30px;
	float:left;
}
#contacto .form label{
	display:block;
	padding:14px 0 4px 0;
	font:14px arial;
	color:#ce3132
}

#contacto .form input,
#contacto .form textarea{
	line-height:35px;
	color:#e0e0e0;
	font:14px arial;
	border:none;
	width:400px;
	padding:0 5px;
	height:30px;
	background-color:#363636;
}
#contacto .form input.cod{
	width:56px;
	margin-right:4px;
}
#contacto .form input.telefono{
	width:326px;
}
#contacto .form textarea{
	height:145px;
}
#contacto .form div.legend{
	float:left;
	font:10px arial;
	color:#5c5c5c;
}
#contacto .form button{
	background:none;
	border:none;
	padding:0;
	cursor:pointer;
}
#contacto .form .button{
	margin-top:20px;
	text-align:right;
}